body {
  /*background-image: url("pexels-photo-776390.jpeg");*/
  background-size: cover;
  background-attachment: fixed;
  
    
}

.pagewrapper {
	margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
}

/* footer things */
.centeredText {
	margin-top: 16px;
	text-align: center;
}

.icon-bar {
	word-spacing: 10px;
	font-size: 20px;
	margin-top: 16px;
}
/* end footer things */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
nav {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
main {
  padding-top: 60px;
}