

.pagewrapper {
	margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 960px; /* 2 */
}

/* footer things */
.centeredText {
	margin-top: 16px;
	text-align: center;
}

.icon-bar {
	word-spacing: 10px;
	font-size: 20px;
	margin-top: 16px;
}
/* end footer things */
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
nav.navbar {
  position: fixed;
  top: 0;
  padding: .5rem 5.4rem;
  z-index: 1000;
}

