body {
  background-image: url("pexels-photo-776390.jpeg");
  background-size: cover;
  background-attachment: fixed;
  
    
}

.pagewrapper {
	margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
}

/* footer things */
.centeredText {
	margin-top: 16px;
	text-align: center;
}

.icon-bar {
	word-spacing: 10px;
	font-size: 20px;
	margin-top: 16px;
}
/* end footer things */
